.stream {
    width: 400px;
    height: 200px !important;
    margin: 3px;
}

img {
    display: block;
    height: auto;
    height: 300px !important;
    max-width: 100%;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    border: 2em;
}

.carousel-inner {
    border-radius: 20px;


}
