th {
  background-color: #636b6f;
}

TABLE {
  width: 300px;
  border: 1px solid black;
  border-bottom: none;
}

TD,
TH {
  padding: 3px;
}

TH {
  text-align: left;
  background: #b9bdc0;
  color: white;
  border: 1px solid white;
}

TD {
  border-bottom: 1px solid black;
}

/*
    #table {
        position:inherit;
top : 100px;
background: #dbdfdc;
    }
*/

.row-flex,
.row-flex > div[class*=col-] {
  display: flex;
  flex: 1 1 auto;
}

.row-flex-wrap {
  align-content: flex-start;
  flex: 0;
}

.row-flex > div[class*=col-] {
  margin: -0.2px;
}

table {
  width: 100%;
}

.visible_width {
  width: 10px;
  text-align: center;
}

.id_width {
  width: 10px;
  text-align: center;
}

.date_width {
  width: 20px;
  text-align: center;
}

.topic_width {
  width: 50px;
  text-align: center;
}

.describe_width {
  width: 100px;
  text-align: center;
}

